#box {
    border: 5px dotted red; /* Cambiar a 0px para probar */
    margin: 10px; /* Cambiar a 15px y luego a 0px para probar */
    padding: 10px; /* Cambiar a 20px y luego a 0px para probar */
    background: gray;
}

body {
    margin: 2px;
    border: 1px solid blue;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
